@media only screen and (max-width: 600px) {
    .slick-slide img {
       object-fit: cover;
       width: 100%;
       /* height: 5vh; */
       border-radius: 5px;
       align-items: center;
    }
 }
 @media only screen and (min-width: 600px) {
    .slick-slide img {
       object-fit: cover;
       width: 100%;
       height: 65vh;
       border-radius: 3px;
       align-items: center;
    }
 }